<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="FunctionalBobTheBot" />
    <add key="MicrosoftAppId" value="4b7ccde1-9562-461d-9465-49e03f116243" />
    <add key="MicrosoftAppPassword" value="yivkNBQZA039xhaGU53#|*|" />
  </appSettings>
</configuration>